<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/CentroMedico</property>
    <property name="hibernate.connection.username">generico</property>
    <property name="hibernate.connection.password">generico</property>
    <property name="current_session_context_class">thread</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="CentroMedico/Usuario.hbm.xml"/>
    <mapping resource="CentroMedico/AtributoOrina.hbm.xml"/>
    <mapping resource="CentroMedico/AtributoSangre.hbm.xml"/>
    <mapping resource="CentroMedico/Imagen.hbm.xml"/>
    <mapping resource="CentroMedico/Turno.hbm.xml"/>
	<mapping resource="CentroMedico/Cita.hbm.xml"/>
    <mapping resource="CentroMedico/LoteMedicamento.hbm.xml"/>
    <mapping resource="CentroMedico/Medicamento.hbm.xml"/>
    <mapping resource="CentroMedico/MedicamentoRecetado.hbm.xml"/>
    <mapping resource="CentroMedico/PruebaAnalisis.hbm.xml"/>
    <mapping resource="CentroMedico/Receta.hbm.xml"/>
    <mapping resource="CentroMedico/ResultadoSangre.hbm.xml"/>
    <mapping resource="CentroMedico/ResultadoOrina.hbm.xml"/>
    <mapping resource="CentroMedico/PruebaRadiologia.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
